@charset "UTF-8";

body{
    background-attachment: fixed;
    height: 98vw;
    background-size: 100% 100%;
    background-image: url(imagens/fundo-de-madeira.jpg);
    background-position: center center;
}
div.iphone{
    position: relative;
    background-position: center center;
}
iframe{

}